[user]
	name = Bruno da Gama Porciuncula
	email = bruno@naboo.local
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.config/git/github-flow-aliases.gitconfig
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
